.container-fluid
  %h2.mt-4 Edit Letter
  = simple_form_for @letter, url: admin_letter_path(@letter) do |f|
    = f.input :title
    = f.input :approved
    = f.input :body, as: :rich_text_area
    = f.submit nil, class: "btn btn-primary"
