.container-fluid
  %h2 Letters
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Body
        %th Created At
        %th Manage
    %tbody
      - @letters.each do |letter|
        %tr
          %td= letter.title
          %td= letter.body
          %td= letter.created_at
          %td
            = link_to "Edit", edit_admin_letter_path(letter), class: "btn  btn-sm btn-primary"
            = button_to "Delete", admin_letter_path(letter), method: :delete, class: "btn btn-secondary btn-sm btn-danger", form_class: "d-inline"
