!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TrumpLetters
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body.d-flex.flex-column{ style: "min-height:100vh;" }
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.justify-content-between{ style: "flex 1 0 auto;" }
      = link_to "Home", root_path, class: "navbar-brand"
      %ul.navbar-nav
        - if user_signed_in?
          %li.nav-item.mr-2
            = link_to "Manage Speeches", admin_letters_path, class: "nav-link"
          %li.nav-item.mr-2
            = button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger"
        - else
          %li.nav-item
            = link_to "Submit Letter", new_letter_path, class: "btn btn-primary"
    - if flash.any?
      - flash.to_hash.each do |key, value|
        - if key == "alert"
          .alert.alert-danger
            .container-fluid= value
        - else
          .alert.alert-success
            .container-fluid= value
    .container-fluid.flex-fill.mt-4
      = yield
    %footer.footer.bg-dark.text-light
      .container-fluid.mt-4
        %p Some content here
